<div class="btn-group-vertical position-fixed" role="group" aria-label="Vertical button group">

  <button mdbBtn type="button" class="btn ml-0 mt-0" mdbWavesEffect [routerLink]="['/system', 'statistics']"
    routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-bar-chart-o fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Статистика
    </span>
  </button>

  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'news']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Новости
    </span>
  </button>

  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'counters']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-dashboard fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Показания счетчиков
    </span>
  </button>

  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'payments']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Платежи
    </span>
  </button>

  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'services']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-wrench fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Услуги
    </span>
  </button>

  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'orders']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Заказы
    </span>
  </button>

  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'mail']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-envelope-open fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Обращения
    </span>
  </button>

  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'area']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-list fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Список адресов
    </span>
  </button>
  <button mdbBtn type="button" class="btn" mdbWavesEffect [routerLink]="['/system', 'users']" routerLinkActive="active">
    <span class="icon ml-2">
      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
    </span>
    <span class="text ml-1">
      Пользователи
    </span>
  </button>
</div>