
<!--Navbar-->

  <!--/.Navbar-->
<div class="container-fluid fixed-top">
  <div class="row">
<div style="width:100%;" class="col-12 ">

    <mdb-navbar   SideClass=" navbar fixed-top navbar-expand-lg navbar navbar-1 navbar-light   grey lighten-3    d-lg-none  " [containerInside]="false">

      <!-- Navbar brand -->
      <mdb-navbar-brand>
      
      </mdb-navbar-brand>
     
    
      <!-- Collapsible content -->
      <links>
    
          <!-- Links -->
          <ul class="navbar-nav col-12 ">
              <li class="nav-item active">
                  <a href="/system/statistics"class="nav-link waves-light" mdbWavesEffect>Статистика<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a href="/system/news" class="nav-link waves-light" mdbWavesEffect>Новости</a>
              </li>
              <li class="nav-item">
                  <a href="/system/counters" class="nav-link waves-light" mdbWavesEffect>Показание счетчиков</a>
              </li>
              <li class="nav-item">
                <a href="/system/payments" class="nav-link waves-light" mdbWavesEffect>Платежи</a>
            </li>
            <li class="nav-item">
              <a href="/system/services" class="nav-link waves-light" mdbWavesEffect>Услуги</a>
          </li>
          <li class="nav-item">
            <a href="/system/orders" class="nav-link waves-light" mdbWavesEffect>Заказы</a>
        </li>
        <li class="nav-item">
          <a href="/system/mail" class="nav-link waves-light" mdbWavesEffect>Обращения</a>
      </li>
      <li class="nav-item">
        <a href="/system/area" class="nav-link waves-light" mdbWavesEffect>Список адресов</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>Связаться с нами</a>
    
  </li>
  <li class="nav-item">
    <a class="nav-link waves-light" mdbWavesEffect>Выход</a>
</li>
          </ul>
          <!-- Links -->
      </links>
      <!-- Collapsible content -->
    
    </mdb-navbar>
  </div>



<div class=" col-12 row dark-line justify-content-between .d-sm-none .d-md-block">


<div class="col-1 align-self-start logo">
  
</div>

<div class="col-9 text-center title">
  <h1>УК "Упр компания"</h1>
</div>

<div class="col-1 drop">
  <div class="btn-group icon float-right mt-3" mdbDropdown>
    <a>
      <i class="fa fa-user-circle fa-2x dropdown-toggle" aria-hidden="true" mdbDropdownToggle type="button"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item">Связаться с нами</a>
      <a href="/login" class="dropdown-item">Выход</a>
    </div>
  </div>
</div>
</div>




  </div>


     






</div>